@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src:
  url('../fonts/AktivGroteskCorp-Regular.woff') format('woff'),
  url('../fonts/aktivgroteskcorp-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: wrap;
}
@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src:
  url('../fonts/AktivGroteskCorp-Light.woff') format('woff'),
  url('../fonts/aktivgroteskcorp-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: wrap;
}