.final
  width: 100%
  display: flex
  justify-content: center
  background: #f5df46
  overflow: hidden
  padding-bottom: 6vh
  &-bg
    width: 100vw
    background: url('../img/bg.png') no-repeat
    display: flex
    justify-content: center
    background-position: center -5vh
    background-size: auto 100%
    transition: 2s
  &-container
    display: flex
    flex-direction: column
    max-width: 85vw
    align-items: center
    position: relative
  &-text
    max-width: 130vh
    margin-top: 170px
  &-desc
    font-size: 5vh
  &-logo
    max-width: 31vh
    margin-top: -3vh
  &-bottom
    display: flex
    align-items: flex-end
    margin-top: 24vh
    &__left
      max-width: 70vh
    &__right
      position: absolute
      bottom: -25vh
      right: -6vh
      max-width: 76vh
      transition: 1s
    &__btn
      display: flex
      justify-content: space-between
      margin-bottom: 4vh
  &-btn
    background: #ffffff
    border-radius: 37px
    color: #939597
    padding: 1vh 4.5vh
    display: flex
    justify-content: center
    align-items: center
    margin-right: 2vh
    transition: 0.8s
    &:hover
      background: #939597
      color: #ffffff
    &-last
      font-size: 3.5vh
      padding: 2vh 6.5vh
      margin-right: 0
.arr
  background: #ffffff
  border-radius: 37px
  min-width: 45vh
  display: inline-block
  text-align: center
  font-size: 5vh
  margin-left: 1vh
  margin-right: 1vh
  padding: 0vh
  &7, &9
    border-bottom: 4px solid #f5df46
.subdesc
  font-size: 2.1vh
  max-width: 105vh
  color: #ffffff
  position: relative
  &::before
    content: ''
    top: 0
    left: -4vh
    position: absolute
    background: url('../img/final-z.png') no-repeat
    width: 3vh
    height: 3vh
    background-size: contain
.save
  font-size: 3.5vh
  padding: 2vh 1.5vh !important
@media screen and ( max-width: 1200px )
  .final
    &-bg
      background: url('../img/bg.png') no-repeat
      background-size: contain
    &-text
      margin-top: 40px
      max-width: 90vw
    &-desc
      font-size: 22px
    &-logo
      margin-top: 1vh
    &-bottom
      margin-top: 255px
      &__btn
        flex-wrap: wrap
        justify-content: flex-start
      &__right
        bottom: 128px
        max-width: 50vw
        transition: 2.5s
    &-btn
      margin-bottom: 10px
      padding: 5px 20px
      &:nth-child(2)
        padding: 11px 16px
      img
        max-height: 70%
        max-width: 64%
  .arr0
    border-top: 4px solid #f5df46
  .arr
    font-size: 22px
    min-width: 45vw
  .pc
    display: none
  .subdesc
    font-size: 12px
    margin-left: 17px
@media screen and (max-width: 465px)
  .final
    &-bg
      background: url('../img/bg-mb.png') no-repeat
      background-size: 92% 92%
    &-text
      margin-top: 40px
      max-width: 90vw
    &-desc
      font-size: 18px
    &-logo
      margin-top: 1vh
    &-bottom
      margin-top: 255px
      &__btn
        flex-wrap: wrap
        justify-content: flex-start
      &__right
        bottom: 220px
        max-width: 85vw
        transition: 2.5s
    &-btn
      margin-bottom: 10px
      padding: 5px 20px
      &:nth-child(2)
        padding: 11px 16px
      img
        max-height: 70%
        max-width: 64%
  .arr0
    border-top: 4px solid #f5df46
  .arr
    font-size: 18px
    min-width: 45vw
  .pc
    display: none
  .subdesc
    font-size: 12px
    margin-left: 17px
@media screen and ( max-width: 1200px ) and (orientation: landscape)
  .final
    display: none
  #result
    display: none
