.footer
  height: 140px
  display: flex
  justify-content: center
  background: #222222
  padding: 92px 0 40px 0
  &-left
    color: #f2f2f2
  &-container
    display: flex
    justify-content: space-between
  &-center
    max-width: 176px
  &-right
    max-width: 245px
    text-align: right
    color: #f2f2f2
    font-size: 14px
    font-weight: 400
    line-height: 16px
  &-link
    display: flex
    flex-direction: column
    text-align: left
    font-size: 14px
    line-height: 19px
    text-decoration-line: underline
    margin-top: 50px
.social
  display: flex
  align-items: end
  &-img
    margin-right: 25px
.popup
  &-1, &-2
    position: absolute
    top: 0
    display: none
    justify-content: center
    width: 100%
    z-index: 999
    background-color: #2d2d2d
  &-card
    max-width: 1170px
    background-color: #afe5c5
    padding: 20px
    position: relative
  &-text
    color: #2d2d2d
  &-1
    min-height: 100vh
.close
  position: absolute
  top: 20px
  right: 20px
  width: 30px
  height: 30px
  cursor: pointer
  &-2
    position: absolute
    top: 20px
    right: 20px
    width: 30px
    height: 30px
    cursor: pointer
