.about-teacher
  background: #C7D2B8
  width: 100vw
  display: flex
  flex-direction: column
  align-items: center
  padding: 7vw 0 4vw 0
  &__title
    margin-bottom: 4vw
.wide-block
  flex-basis: 55%
  margin-left: 3vw
.teacher
  &-photo
    width: 32vw
.alex-img
  width: 15vw
  margin-left: 4vw
  margin-top: 4vw
.oleg
  background: #B6D0CA
  &-row
    display: flex
    flex-direction: column
    align-items: flex-end
  &-vec1
    width: 8vw
    margin-top: 14vw
  &-vec2
    margin-top: 5vw
    margin-right: 5vw
.lubov
  background: #DED7BF
  &-vec
    margin-top: 12vw
    margin-right: 4vw
.lesiy
  background: #E3C3C5
  padding-bottom: 15vw
  &-img
    margin-top: 6vw
    width: 15vw
    margin-left: 13vw
.tatyana
  background: #CFC7E0
  &-vec
    width: 14vw
    margin-left: 34vw
  &-container
    margin: 5vw 0 10vw 0
  &-video
    margin-left: 5vw
.teacher-video
  &-before
    position: relative
    cursor: pointer
    &::before
      content: ''
      position: absolute
      background: url('../img/video-before.jpg') no-repeat
      background-size: contain
      width: 38vw
      height: 23vw
      top: 0
      left: 0
      transition: 0.4s
    &::after
      content: ''
      position: absolute
      background: url('../img/video-btn.png') no-repeat
      background-size: contain
      width: 8vw
      height: 7vw
      top: 25%
      left: 45%
      transition: 0.4s
    &:hover
      &::after
        opacity: 0.6
@media screen and ( max-width: 1200px )
  .container
    &-column
      flex-direction: column
  .teacher-video
    iframe
      width: 100% !important
      height: 48vw !important
    &::before
      width: 100%
      height: 50vw
    &::after
      top: 45%
  .wide-block
    margin-left: 0
@media screen and ( max-width: 600px )
  .about-teacher
    &-container
      flex-direction: column
  .wide-block
    order: 1
  .teacher-photo
    width: 100%
