.curs
  width: 100vw
  display: flex
  justify-content: center
  &-singing
    background: #F4D4B5
    position: relative
    &::after
      content: ''
      position: absolute
      background: url('../img/curs/b2.svg') no-repeat
      background-size: contain
      width: 10vw
      height: 25vw
      bottom: 40vw
      left: 0
  &-storytelling
    background: #CBE5BB
    position: relative
    &::after
      content: ''
      position: absolute
      background: url('../img/curs/b2.svg') no-repeat
      background-size: contain
      width: 10vw
      height: 25vw
      bottom: 40vw
      left: 0
  &-effective
    background: #ECCCC1
    position: relative
    &::after
      content: ''
      position: absolute
      background: url('../img/curs/b2.svg') no-repeat
      background-size: contain
      width: 10vw
      height: 25vw
      bottom: 40vw
      left: 0
  &__li
    position: relative
    z-index: 2
    &:nth-child(1)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life1.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 1.5vw
        top: 0.6vw
        left: -4.5vw
    &:nth-child(2)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life2.svg') no-repeat
        background-size: contain
        width: 3.6vw
        height: 4vw
        top: 0.6vw
        left: -4.5vw
    &:nth-child(3)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life3.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 0.6vw
        left: -4.5vw
    &:nth-child(4)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life4.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 0.6vw
        left: -4.5vw
    &:nth-child(5)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life5.svg') no-repeat
        background-size: contain
        width: 3.3vw
        height: 4vw
        top: 1.5vw
        left: -4.5vw
    &:nth-child(6)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life6.svg') no-repeat
        background-size: contain
        width: 4vw
        height: 4vw
        top: 0.4vw
        left: -4.5vw
      &::before
        content: ''
        position: absolute
        background: url('../img/curs/b1.svg') no-repeat
        background-size: contain
        width: 32vw
        height: 32vw
        top: -17vw
        right: -10vw
        z-index: -1
    &:nth-child(7)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life7.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 0.6vw
        left: -4.5vw
    &:nth-child(8)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life8.svg') no-repeat
        background-size: contain
        width: 3.5vw
        height: 4vw
        top: 0.6vw
        left: -4.5vw
    &:nth-child(9)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life9.svg') no-repeat
        background-size: contain
        width: 3.4vw
        height: 4vw
        top: 1.3vw
        left: -4.5vw
    &:nth-child(10)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life10.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 0
        left: -4.5vw
    &:nth-child(11)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/life11.svg') no-repeat
        background-size: contain
        width: 3.3vw
        height: 4vw
        top: 2.5vw
        left: -4.5vw
  &-container
    flex-direction: column
    align-items: center
    margin-top: 8vw
    margin-bottom: 16vw
  &-life
    background: #F2E8C7
    position: relative
    &::after
      content: ''
      position: absolute
      background: url('../img/curs/b2.svg') no-repeat
      background-size: contain
      width: 10vw
      height: 25vw
      bottom: 45vw
      left: 0
  &__row
    display: flex
    justify-content: space-between
    margin-top: 7vw
  &__desc
    flex-basis: 43%
  &__video
    margin-left: 13vw
  &-column
    &__desc
      width: 53.49vw
      margin-top: 7vw
  &__autor
    display: flex
    text-transform: uppercase
    align-items: center
    &--desc
      margin-top: -4vw
      margin-left: -4vw
    &--title
      margin-bottom: -0.5vw
  &__button
    display: flex
    justify-content: center
  &-btn
    color: #222222
    font-weight: 700
    text-transform: uppercase
    border: 2px solid #222222
    border-radius: 35px
    padding: 1.3vw 1.897vw
.img-curs
  margin-top: -3.8vw
  margin-left: -1vw
.life
  &__vec1
    position: relative
    z-index: 3
    &::after
      content: ''
      position: absolute
      width: 27vw
      height: 3.3vw
      background: url('../img/curs/Vector1.svg') no-repeat
      background-size: contain
      top: -1.1vw
      left: 0
      z-index: -1
  &__title
    margin-left: 5vw
    position: relative
    z-index: 2
    &::after
      content: ''
      position: absolute
      width: 27vw
      height: 11vw
      background: url('../img/curs/life-v2.svg') no-repeat
      background-size: contain
      top: -5vw
      left: -14vw
      z-index: -1
  &__vec2
    position: relative
    z-index: 2
    &::after
      content: ''
      position: absolute
      width: 27vw
      height: 13vw
      background: url('../img/curs/life-v1.svg') no-repeat
      background-size: contain
      top: -7vw
      right: -20vw
      z-index: -1
.effective
  &-vec
    margin-top: 6vw
    width: 60%
  &__title
    max-width: 44vw
    margin-left: 12vw
    position: relative
    z-index: 2
    &::after
      content: ''
      position: absolute
      width: 27vw
      height: 12vw
      background: url('../img/curs/ef-title.svg') no-repeat
      background-size: contain
      top: -4.9vw
      left: -13vw
      z-index: -1
  &-li
    &:nth-child(1)
      &::after
        top: 3vw
    &:nth-child(4)
      &::after
        top: 2vw
  &__vec1
    position: relative
    z-index: 2
    margin-top: 2vw
    &::after
      content: ''
      position: absolute
      top: -1vw
      width: 26.5vw
      height: 4vw
      background: url('../img/curs/ef-v1.svg') no-repeat
      background-size: contain
      left: 0
      z-index: -1
  &__vec2
    position: relative
    z-index: 2
    &::before
      content: ''
      position: absolute
      width: 38vw
      height: 45vw
      background: url('../img/curs/ef-v2.svg') no-repeat
      background-size: contain
      right: -11vw
      top: 3vw
      z-index: -1
.storytelling
  &__title
    position: relative
    z-index: 2
    margin-left: 10vw
    &::after
      content: ''
      position: absolute
      width: 27vw
      height: 12vw
      background: url('../img/curs/st-vec2.svg') no-repeat
      background-size: contain
      top: -4.9vw
      left: -13vw
      z-index: -1
  &__vec1
    position: relative
    z-index: 2
    margin-top: 6vw
    &::after
      content: ''
      position: absolute
      top: -1vw
      width: 26.5vw
      height: 4vw
      background: url('../img/curs/st.svg') no-repeat
      background-size: contain
      left: 0
      z-index: -1
  &-vec
    max-width: 14vw
    margin-left: -5vw
    margin-top: 5vw
  &-li
    position: relative
    z-index: 2
    &:nth-child(1)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/st1.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 1.5vw
        top: 5vw
        left: -4.5vw
    &:nth-child(2)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/st2.svg') no-repeat
        background-size: contain
        width: 3.6vw
        height: 4vw
        top: 1.5vw
        left: -4.5vw
    &:nth-child(3)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/st3.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 1.5vw
        left: -4.5vw
    &:nth-child(4)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/st4.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 2vw
        left: -4.5vw
      &::before
        content: ''
        position: absolute
        background: url('../img/curs/st-vec3.svg') no-repeat
        background-size: contain
        width: 30vw
        height: 32vw
        top: -3vw
        right: -10vw
        z-index: -1
    &:nth-child(5)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/st5.svg') no-repeat
        background-size: contain
        width: 3.3vw
        height: 4vw
        top: 0vw
        left: -4.5vw
    &:nth-child(6)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/st6.svg') no-repeat
        background-size: contain
        width: 3.4vw
        height: 3vw
        top: 0.7vw
        left: -4.5vw
.singing
  &__autor
    margin-top: 5vw
    &--img
      max-width: 34vw
      margin-right: 2vw
  &__row
    align-items: center
    position: relative
    &::after
      content: ''
      position: absolute
      background: url('../img/curs/sing-vec1.svg') no-repeat
      background-size: contain
      width: 8vw
      height: 8vw
      bottom: -3vw
      left: 5vw
    &::before
      content: ''
      position: absolute
      background: url('../img/curs/sing-vec2.svg') no-repeat
      background-size: contain
      width: 14vw
      height: 12vw
      bottom: 0
      left: 28vw
  &-desc
    margin-left: 15vw
  &-li
    position: relative
    z-index: 2
    &:nth-child(2)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing1.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 1.5vw
        top: 0
        left: -4.5vw
      &::before
        content: ''
        position: absolute
        background: url('../img/curs/sing-vec3.svg') no-repeat
        background-size: contain
        width: 18vw
        height: 18vw
        top: 2vw
        right: -12vw
    &:nth-child(3)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing2.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 2vw
        top: 0
        left: -4.5vw
    &:nth-child(4)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing3.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 0
        left: -4.5vw
    &:nth-child(5)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing4.svg') no-repeat
        background-size: contain
        width: 3.4vw
        height: 4vw
        top: 0
        left: -4.5vw
    &:nth-child(6)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing5.svg') no-repeat
        background-size: contain
        width: 3.3vw
        height: 4vw
        top: 0
        left: -4.5vw
    &:nth-child(7)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing6.svg') no-repeat
        background-size: contain
        width: 3.4vw
        height: 3vw
        top: -0.1vw
        left: -4.5vw
    &:nth-child(8)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing7.svg') no-repeat
        background-size: contain
        width: 3.4vw
        height: 4vw
        top: 0
        left: -4.5vw
    &:nth-child(9)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing8.svg') no-repeat
        background-size: contain
        width: 3.5vw
        height: 4vw
        top: 0
        left: -4.5vw
    &:nth-child(10)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing9.svg') no-repeat
        background-size: contain
        width: 3.4vw
        height: 4vw
        top: 0
        left: -4.5vw
    &:nth-child(11)
      &::after
        content: ''
        position: absolute
        background: url('../img/curs/sing10.svg') no-repeat
        background-size: contain
        width: 3vw
        height: 4vw
        top: 0
        left: -4.5vw
