.brand
  background: url(../img/back-brand.jpg) no-repeat
  background-size: cover
  display: flex
  justify-content: center
  position: relative
  padding: 166px 0 152px 0
  color: #ffffff
  &__logo
    max-width: 347px
  &__title
    font-size: 31px
    max-width: 763px
    text-transform: uppercase
    line-height: 150.4%
    letter-spacing: 0.03em
  &__description
    max-width: 691px
    font-size: 17px
    font-weight: 500
    line-height: 181.4%
    letter-spacing: 0.04em
    margin-top: 55px
    &:last-child
      margin-top: 30px
.road
  position: absolute
  &-left
    bottom: -155px
    left: -30px
  &-right
    bottom: 30%
    right: -135px
