header
  position: fixed
  z-index: 9999
.header
  display: flex
  height: 90px
  width: 100vw
  background: url('../img/background.jpg')
  &-content
    display: flex
    width: 100%
    padding: 0 7vw 0 3vw
    align-items: center
    justify-content: space-between
  &-contact
    display: flex
    letter-spacing: 0.04em
    &__social
      display: flex
      align-items: flex-end
      padding-left: 3vw
      &--img
        margin-right: 2vw
    &__phone
      padding: 2px 3vw 2px 0
      border-right: 2px solid rgba(255, 255, 255, 0.5)
    &__mail
      padding: 2px 3vw 2px 3vw
      border-right: 2px solid rgba(255, 255, 255, 0.5)
  &-nav
    display: flex
    letter-spacing: 0.04em
    &__portfolio
      padding-left: 2vw
      position: relative
      &::before
        content: ''
        position: absolute
        background: url("../img/icon-portfolio.svg") no-repeat
        width: 16px
        height: 16px
        left: 0
    &__menu
      position: relative
      padding-left: 2vw
      margin-left: 5vw
      display: flex
      align-items: flex-end
      cursor: pointer
      &::before
        content: ''
        position: absolute
        background: url("../img/burger.svg") no-repeat
        width: 16px
        height: 13px
        left: 0
.logo
  display: flex
  align-items: center
  min-width: 125px
  padding: 0 10vw 0 135px
  background: #E40000
  clip-path: polygon( 0% 0%, 0% 0%, 100% 0%, 0% 300%)
  img
.nav
  position: fixed
  right: 0
  top: 0
  height: 100vh
  width: 583px
  background-color: rgba(228, 0, 0, 0.9)
  padding: 28px 0 28px 54px
  text-align: left
  display: none
  flex-direction: column
  justify-content: space-around
  z-index: 9999999999999
  &-active
    display: flex
  &-description
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 200px
    line-height: 26px
    font-size: 16px
    font-weight: 600
    color: #ffffff
    max-width: 380px
    &__contact
      display: flex
      flex-direction: column
  &__link
    text-transform: uppercase
.close
  width: 28px
  position: absolute
  right: 51px
  top: 62px
  cursor: pointer
.link
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 200px
  font-weight: 600
  font-size: 32px
  line-height: 39px
  letter-spacing: 0.04em
.offer
  &-button
    position: fixed
    left: 22px
    bottom: 25px
    color: #ffffff
    background: #E40000
    border: 1px solid #E40000
    border-radius: 18px
    padding: 13px 14px
    font-weight: 600
    cursor: pointer
    transition: 0.4s
    z-index: 999
    &:hover
      background: transparent
      color: #E40000
