@media screen and (max-width: 1400px)
  .road
    &-right
      position: absolute
      right: -70px
      top: 200px
@media screen and (max-width: 1240px)
  .road
    &-right
      position: absolute
      right: -120px
      top: 200px
@media screen and (max-width: 1190px)
  .road
    &-right
      display: none
  .project
    margin: 0 20px
  .category
    margin-left: 20px
    margin-right: 20px
    &-service
      grid-template-rows: 1fr 1fr 1fr
      grid-template-columns: 25% 25% 30% 25%
      padding-bottom: 0
    &-grade
      grid-template-rows: 50% 50%
      grid-template-columns: 25% 30% 22% 15% 10%
  .portfolio
    &__button
      margin-left: 20px
  .contacts
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 127px
    &__title
      color: #232323
    &__card
      background: url(../img/back-contacts.jpg) no-repeat
      background-size: cover
      display: flex
      flex-wrap: wrap
      width: 100%
      flex-direction: column
      align-items: center
      &--block
        flex-basis: 0
  .maps
    iframe
      width: 100vw
      margin-bottom: -3px
  .information
    margin: 60px 0
@media screen and (max-width: 940px)
  .feedback
    display: flex
    justify-content: center
    text-align: center
    padding-bottom: 115px
    &__title
      margin-top: 81px
      margin-bottom: 75px
      color: #E40000
    &__card
      display: flex
      flex-direction: column
      max-width: 587px
      justify-content: space-around
      align-items: center
    &-container
      display: flex
      flex-direction: column
      align-items: center
  .director
    margin-left: 0
    margin-bottom: 40px
@media screen and (max-width: 768px)
  .category
    margin-left: 20px
    margin-right: 20px
    &-service
      flex-wrap: wrap
      flex-direction: column
      height: 156px
      align-content: space-between
    &-grade
      flex-wrap: wrap
      flex-direction: column
      height: 156px
      align-content: space-between
      padding-bottom: 0
    &-active
      display: flex
    &__description
      text-transform: lowercase
      text-align: left
      margin-bottom: 15px
  .project
    &__card
      flex-basis: 100%
      &:nth-child(5n+3), &:nth-child(5n+4), &:nth-child(5n)
        flex-basis: 100%
        height: 100%
@media screen and (max-width: 645px)
  .information
    padding-left: 60px
    &__address
      &::before
        left: -60px
    &__phone
      &::before
        left: -60px
    &__mail
      &::before
        left: -58px
  .form
    border: 1px solid #C6C6C6
    border-radius: 12px
    padding: 29px 22px 0 25px
    &-block
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-bottom: 34px
      align-items: flex-start
      flex-wrap: wrap
    &-label
      font-size: 14px
      margin-bottom: 20px
    &-input
      max-width: 351px
    &-button
      margin-top: 39px
@media screen and (max-width: 460px)
  .project
    margin: 0 10px
    &__card
      flex-basis: 100%
      margin-bottom: 10px
  .portfolio
    &__button
      margin-left: 20px
      align-items: center
      display: flex
      flex-direction: column
    &__btn
      margin-bottom: 20px
      width: 200px
  .category
    margin-left: 10px
    margin-right: 10px
    &-service
      flex-wrap: wrap
      flex-direction: column
      height: 100%
      align-items: center
      align-content: center
    &-grade
      flex-wrap: wrap
      flex-direction: column
      height: 100%
      align-content: center
      align-items: center
      padding-bottom: 0
  .form
    &-input
      max-width: 250px
