html, body
  font-family: Aktiv Grotesk Corp, sans-serif
  color: #1B1C20
*
  box-sizing: border-box
b
  font-weight: bold
img
  width: 100%
.container
  width: 1210px
  &-logo
    display: flex
    align-items: center
.center
  display: flex
  justify-content: center
.supdesc
  font-size: 25px
  position: relative
  font-weight: 300
  line-height: 37px
  &-black
    margin-bottom: 70px
    line-height: 37px
    position: relative
    &::before
      content: ''
      position: absolute
      width: 14px
      height: 14px
      top: -14px
      left: -36px
      background: #1B1C20
.desc
  font-size: 48px
  font-weight: 300
  line-height: 74px
.title
  font-size: 80px
  line-height: 92px
h2, h1, p
  margin: 0
.row
  display: flex
  position: relative
  &-three
    margin-top: 196px
  &-four
    margin-top: 246px
  &-five
    margin-top: 338px
