.application
  margin-top: 353px
  padding: 308px 0 297px 0
  background: rgba(247, 247, 247, 0.79)
  background-size: cover
  position: relative
  &-left
    position: absolute
    top: -550px
    left: -50px
  &-phone
    display: flex
    margin-top: 45px
    width: 360px
    justify-content: space-between
    align-items: center
  &-home
    position: absolute
    bottom: -110.6px
    max-width: 566px
    right: 0
