.footer
  margin-top: 155px
  background: #212121
  padding: 60px 0
  &-row
    display: flex
    width: 100%
    justify-content: space-between
  &-text
    font-size: 13px
    color: #ffffff
    font-weight: 400
    text-decoration: none
  &-block
    display: flex
    flex-direction: column
    height: 45px
    justify-content: space-between
  &-logo
    max-width: 65px
    flex-basis: 300px
  &-social
    display: flex
    justify-content: space-between
    width: 150px
    margin-right: 112px
    align-items: center
  &-policy
    margin-left: -70px
    font-size: 10px
.social-img
  width: 20px
  &:nth-child(2n)
    width: 25px
