.form
  display: flex
  justify-content: center
  background: url('../img/bg2.png') no-repeat
  background-size: cover
  margin-top: 155px
  padding: 17.153vw 0 179px 0
form
  margin-top: 98px
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
input
  border: none
  border-bottom: 1px solid #c4c4c4
  width: 300px
  background: transparent
  height: 32px
.input
  width: 60%
  display: flex
  justify-content: space-between
.btn
  padding: 23px 92px
  font-size: 20px
  text-transform: uppercase
  border: 1px solid #000
  background: transparent
  cursor: pointer
  transition: all 0.3s
  &:hover
    background: #FF6900
    border: 1px solid #FF6900
    color: #ffffff
