.logo
  max-width: 795px
  margin-bottom: 79px
.hero
  &-img
    display: flex
    justify-content: center
    position: relative
  &-desc
    margin-top: 168px
    &__description
      margin-top: 245px
      max-width: 371px
.main
  margin-top: 120px
  background: url('../img/bg1.png') no-repeat
  background-size: cover
  padding: 17.153vw 0 35vw 0
  position: relative
  &-left
    max-width: 500px
    &__desc
      margin-top: 112px
      max-width: 438px
      line-height: 45px
  &-right
    position: absolute
    right: 0
    top: 17.153vw
    &__desc
      position: absolute
      top: 540px
      right: 269px
      font-size: 20px
      color: #414141
      font-weight: 400
    &__img
      margin-top: 100px
