.container
  display: flex
  width: 1200px
  &-jcsb
    justify-content: space-between
  &-aife
    align-items: flex-end
  &-column
    flex-direction: column
header
  display: flex
  justify-content: center
  padding-top: 100px
img
  width: 100%
h1, h2, p
  margin: 0
  font-weight: 300
.center
  display: flex
  justify-content: center
.title
  font-size: 42px
  line-height: 49px
.desc
  font-size: 30px
  line-height: 35px
body
  color: #000000
html,body
  font-family: Aktiv Grotesk Corp
  font-weight: 300
.red
  color: #FF6900
.reg
  font-weight: 400
.grey
  color: #c4c4c4
  &-2
    color: #7d7d7d
.small
  &-18
    font-size: 18px
    line-height: 21px
.big-padding
  padding: 43px 0 !important
